[submodule "pipelines/RNAFlow"]
	path = pipelines/RNAFlow
	url = git@github.com:xsx123123/RNAFlow.git
[submodule "pipelines/ATACFlow"]
	path = pipelines/ATACFlow
	url = git@github.com:xsx123123/ATACFlow.git
[submodule "pipelines/EBIDownload"]
	path = pipelines/EBIDownload
	url = git@github.com:xsx123123/EBIDownload.git
[submodule "Protocol/FlowFrame"]
	path = Protocol/FlowFrame
	url = git@github.com:xsx123123/FlowFrame.git
[submodule "pipelines/scrna"]
	path = pipelines/scrna
	url = git@github.com:xsx123123/scRNAseqMulticommand.git
[submodule "pipelines/tools"]
	path = pipelines/tools
	url = git@github.com:xsx123123/JZ_Tools.git
